binary "https://mobilesdk.useinsider.com/carthage/InsiderMobileAdvancedNotification/1.2.1/InsiderMobileAdvancedNotification.json"
binary "https://mobilesdk.useinsider.com/carthage/InsiderMobile/12.5.2/InsiderMobile.json" ~> 12.5.2